@import 'variables.less';
.blue-bg{
    background: @blue;
}
.content-post{
    padding-bottom: 100px;
}
.navigation{
    padding-bottom:80px;
}

.title{
    margin: 70px 0 40px 0;
    &-white{
        .font(@style: '',#fff,150%);
        text-transform: uppercase;
        .line(#fff);
    }
    &-black{
        .font(@style: '',@ocean,150%);
        text-transform: uppercase;
        .line(@ocean);
    }

}
.adds{
    .flex;
    li{
        text-align: center;
        vertical-align: middle;
        figure{
            img{
                display: block;
                margin: 0 auto;
                border: 1px solid #fff;
            }
        }
        a{
            text-align: center;
            display: block;
            margin-top: 20px;
            .font(@style: '',#fff,100%);
            text-transform: uppercase;
        }
    }
}
.text{
     li {
         margin-left: 10px;
         &:before{
             content: "";
             display: inline-block;
             width: 5px;
             height: 5px;
             background: @blue;
             vertical-align: middle;
             margin-right: 10px;
         }
         &:first-child{
              margin-top: 20px;
         }
        }
    &-black{
        margin-top: 30px;
    }
    &-white{
        .font(light,#fff,100%);
    }
    p{
        margin-top: 20px;
    }
}
.certificate{
    text-align: center;
    height: 399px;
}
.text-block{
    .flex();
}
.our-clients{
    height: 500px;
    background: @ocean;
    color: #fff;
}
.contacts{
    background: url(/images/pexels-photo-113850.png)no-repeat 50% 50%;
    background-size: cover;
    .form-group{
        margin: 25px 0;
        overflow: hidden;
        display: block;
        label{
            text-transform: uppercase;
            .font(@style: '',#fff,100%);
            padding-left: 0;
            margin-bottom: 5px;
        }
        input[type="text"],
        textarea{
            font-size: 18px;
            color: #fff;
            padding: 15px 5px;
            background: transparent;
            border: 2px solid #fff;
        }
        input[type="submit"]{
            margin-top: 40px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background: @blue;
            text-transform: uppercase;
            margin-bottom: 50px;
            border: 0;
            .font(bold,#fff,100%);
        }
    }
    .for-user-info{
        li{
            &:nth-child(3) {
                margin-top: 10px;
            }
        }
    }
    span.blue{
        margin-bottom: 10px;
        display: block;
        margin-top: 40px;
    }
}
