@import 'variables.less';
.blue-bg{
    background: @blue;
}
.content-post{
    padding-bottom: 100px;
}
.navigation{
    padding-bottom:80px;
}

.title{
    margin: 70px 0 40px 0;
    &-white{
        .font(@style: '',#fff,150%);
        text-transform: uppercase;
        .line(#fff);
    }
    &-black{
        .font(@style: '',@ocean,150%);
        text-transform: uppercase;
        .line(@ocean);
    }

}
.adds{
    li{
        text-align: center;
        vertical-align: middle;
        figure{
            img{
                display: block;
                margin: 0 auto;
                border: 1px solid #fff;
            }
        }
        a{
            text-align: center;
            display: block;
            margin-top: 20px;
            .font(@style: '',#fff,100%);
            text-transform: uppercase;
        }
    }
}
ul.text{
     li {
         margin-left: 10px;
         &:before{
             content: "";
             display: inline-block;
             width: 5px;
             height: 5px;
             background: @blue;
             vertical-align: middle;
             margin-right: 10px;
         }
         &:first-child{
              margin-top: 20px;
         }
        }
    p{
        margin-top: 20px;
    }
}
.certificate{
    text-align: center;
    height: 399px;
}
.text-block{
    .flex();
}
.our-clients{
    height: 500px;
    background: @ocean;
}
