@import 'variables.less';
p,a,ul,li,span{
    font-family: @font;
}
header{
    background: @ocean;
    height: 145px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

}
.top-nav{

    margin-top: 25px;
    li{
        background: @ocean;
        a{
            color: #fff;
            text-transform: uppercase;
            padding: 10px 15px;
            border: 2px solid transparent;
            .transition(.2s);
            &:focus{
                border: 2px solid @blue;
                background: none;
                color: @blue;
            }
            &:hover{
                border: 2px solid @blue;
                background: none;
                color: @blue;
            }
        }
    }
}
.logo{
        width: 100%;
    }
button.navbar-toggle{
    img{
        width: 30px;
        height: 30px;
    }
}
