@import 'variables.less';
p,a,ul,li,span{
    font-family: @font;
}
header{
    background: @ocean;
    height: 145px;


}
.top-nav{
    position: relative;
    margin-top: 25px;
    z-index: 10;
    li{
        background: @ocean;
        margin-right: 5px;
        a{
            color: #fff;
            text-transform: uppercase;
            padding: 10px 15px;
            border: 2px solid transparent;
            .transition(.2s);
            &:focus{
                border: 2px solid @blue;
                background: none;
                color: @blue;
            }
            &:hover{
                border: 2px solid @blue;
                background: none;
                color: @blue;
            }
        }
        &.active{
            a{
                border: 2px solid @blue;
                background: none;
                color: @blue;
            }
        }
    }
}
#bts-logo{
    height: auto;
}
#1c-logo{
    height: auto;
}
button.navbar-toggle{
    img{
        width: 30px;
        height: 30px;
    }
}
